.card-round{
  width: 60vh;
  height: 90vh;
  background: #000000;
  border-radius: .8rem;
  display: grid;
  align-items: center;
  justify-content: center;

  .card{
    background: $background;
    width: 48vh;
    border-radius: .8rem;
    padding: 1rem;
    header{
      display: flex;
      gap: 0 1rem;
      img{
        display: block;
        padding: 1rem 1.2rem;
        border: 1px solid #ffffff;
        border-radius: 4rem;
      }
    }
    .avatar{
      display: flex;
      justify-content: end;
      z-index: 1;
      img{
        width: 70%;
        border-radius: 7rem;
      }
    }
    ul{
      background: linear-gradient(180deg, #00000060, #46454560, #3E383860);
      width: 32vh;
      padding: 1rem;
      border-radius: 1.5rem;
      li{
        list-style: none;
        img{
          margin-right: 1rem;
        }
      }
    }
    footer{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 0 1rem;
      h3{
        text-transform: uppercase;
      }
    }
  }
}